@media screen and (min-width: 600px) {
    #cardsIntro, #cardTimeline {
      width: 16rem !important;
    }

    #cardTimeline {
      width: 27rem !important;
    }

    .timeline-container {
      left: 210px !important;
    }

    .event {
      position: relative  !important;
      width: 180px  !important;
    }

    .event.left {
      left: -210px  !important;
      text-align: right !important;
    }

}

.timeline-container {
  position: relative;
  width: 100%;
  }

  #cardsIntro, #cardTimeline {
    width: 100%;
  }